body{
    background-color: #E6E3DF;
}

p{
    color:#615040;
    font-size: 55%;
    padding: 20px 15px 0 15px;
}

p.moji{
    color:#615040;
    font-size: 55%;
    padding: 20px 10px 0 0;
}

h1 {
	color: #615040;
    padding: 0 0 30px 60px;
    margin: 40px 0 60px 0;

    border-bottom: 5px dotted #615040;
}

h2 {
	color: #615040;
    padding: 0 0 20px 60px;
}

h3 {
	color: #615040;
    margin: 10px 0 0 0;
    padding: 0 0 0 85px;
    font-family: system-ui;
    font-weight: 1000;
}

h2.kuro {
    margin: 0 ;
    font-size: 105%;
	color: #E6E3DF;
    background-color:#615040;
    padding: 15px ;
}

div.zentai{
    margin: 0 60px 60px 60px;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 250px 250px 250px;
	grid-gap: 60px;

    width: 870px;
}

div.dannraku{
    margin: 0 0px 0px 45px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 100px;
	grid-gap: 60px;

    width: 780px;
}

div.temae {
	background: white;
}

div.zentai2{
    margin: 0 60px 60px 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 250px 250px;
	grid-gap: 60px;

    width: 870px;
}	

div.box {
	background: white;
    border: 4px solid #615040;
}

a:link {
    color: #E9DB63;
}

a:visited {
    color: #D8A346;
}

img{
	float: left;
    width: 70px;
    height: 70px;
}
